In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('C:\\Users\\imane\\Desktop\\books\\Crime_Data_from_2020_to_Present.csv')
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,201220752,09/16/2020 12:00:00 AM,09/16/2020 12:00:00 AM,1230,12,77th Street,1259,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,700 E 73RD ST,NaN,33.9739,-118.2630
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [5]:
df.shape

(317854, 28)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 317854 entries, 0 to 317853
Data columns (total 28 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           317854 non-null  int64
 1   Date Rptd       317854 non-null  object
 2   DATE OCC        317854 non-null  object
 3   TIME OCC        317854 non-null  int64
 4   AREA            317854 non-null  int64
 5   AREA NAME       317854 non-null  object
 6   Rpt Dist No     317854 non-null  int64
 7   Part 1-2        317854 non-null  int64
 8   Crm Cd          317854 non-null  int64
 9   Crm Cd Desc     317854 non-null  object
 10  Mocodes         274531 non-null  object
 11  Vict Age        317854 non-null  int64
 12  Vict Sex        276448 non-null  object
 13  Vict Descent    276443 non-null  object
 14  Premis Cd       317849 non-null  float64
 15  Premis Desc     317746 non-null  object
 16  Weapon Used Cd  116477 non-null  float64
 17  Weapon Desc     116477 non-null  object
 18  Status          317854 non-null  object
 19  Status Desc     317854 non-null  object
 20  Crm Cd 1        317851 non-null  float64
 21  Crm Cd 2        25981 non-null   float64
 22  Crm Cd 3        880 non-null     float64
 23  Crm Cd 4        30 non-null      float64
 24  LOCATION        317854 non-null  object
 25  Cross Street    56977 non-null   object
 26  LAT             317854 non-null  float64
 27  LON             317854 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 67.9+ MB

# Data preprocessing

In [ ]:
# drop unecessary columns